#customcss{
  font-family: 'Alegreya', serif;
}



.thumbnail img{
  max-height: 200px;
}
.thumbnail .description {
   color: #7f7f7f;
}
.payment{
  width:100%;
}

.shoph1{
  text-align: center;
  margin-bottom: 20px;
}
